.js-shop-follow.div {
    float: left;
}

.fa-exclamation {
    margin: 2px 7px 2px 0;
}

.small-dense {
    float: left;
}

.block-button {
    margin-right: 10px;
}

.item-card__title-anchor--multiline {
    height: 35px;
}

.l-item-card-badge {
    height: 21px;
}

.header-image {
    height: 320px;
    width: 100%;
    object-fit: cover;
}

header.invisible-for-mobile-app {
    width: 100%;
}

div.booth-description div.u-mb-300 div.description-contents {
    height: 400px;
    position: relative;
    overflow: hidden;
    transition: height 1s ease-out;
}

.fade::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.show-more {
    text-align: center;
    cursor: pointer;
}

div.w-full.shrink div.item-search-box form {
    display: none;
}

div.w-full.shrink div.item-search-box div {
    transition: all 1s ease-out;
}

div.new-item-search-box {
    margin-left: 10px;
    width: 42px;
    max-width: 600px;
}

div.new-item-search-box.focus {
    width: 100%;
}

div.item-search-input__container {
    width: 100%;
}

#new-input-txtbox {
    width: 100%;
    padding: 6px 30px 6px 10px;
    margin-right: 0;
    transition: all 1s ease-out;
}

.icon-search {
    font-size: 1.25rem;
    color: #252f3d;
}